altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
entrypoints
executing
fonttools
gitdb
gitpython
lightgbm
matplotlib
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
seaborn
streamlit
